{% extends 'base.html' %}

{% block content %}
<div class="mx-auto h-[calc(100vh-80px)] bg-[#242831] font-inter_tight">
    <div class="mb-12 text-slate-100 text-center">
        <h1 class="pt-16 pb-4 font-bold text-5xl drop-shadow-md">Login to <span class="bg-gradient-to-r from-blue-500 to-red-500 text-transparent bg-clip-text">PacilFlix</span></h1>
        <p class="text-xl">The escape to the cinemas, on the palm of your hands.</p>
    </div>
    <div class="mx-auto max-w-sm">
        <form method="POST">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-y-7 text-white font-inter">
                <div>
                    <p class="text-sm font-bold mb-2">USERNAME</p>
                    <input class="w-full rounded-lg border border-gray-500 px-4 py-3 bg-[#333845]" type="text" name="username" id="username" placeholder="Username">
                </div>
                <div>
                    <p class="text-sm font-bold mb-2">PASSWORD</p>
                    <input class="w-full rounded-lg border border-gray-500 px-4 py-3 bg-[#333845]" type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <button type="submit" class="mt-5 w-full rounded-md font-bold text-white border px-12 py-4 hover:bg-white hover:text-[#242831] duration-300">LOGIN</button>
            </div>
            {% if message %}
            <p class="text-center text-sm {{ msg_color }} mt-2">{{ message }}</p>
            {% endif %}
        </form>
    </div>
    <div class="text-center text-white mt-12">
        <p>Don't have an account yet?</p>
        <a class="text-gray-400 hover:text-gray-300 duration-100" href="/auth/register">Create one.</a>
    </div>
</div>
{% endblock content %}