{% extends 'base.html' %}

{% block content %}
<div class="mx-auto min-h-screen bg-[#242831] font-inter_tight pb-6">
    <div class="mb-12 text-slate-100 text-center">
        <h1 class="pt-16 pb-4 font-bold text-5xl drop-shadow-md">Manage your <span class="bg-gradient-to-r from-blue-500 to-red-500 text-transparent bg-clip-text">PacilFlix</span> subscription</h1>
        <p class="text-xl">The escape to the cinemas, on the palm of your hands.</p>
    </div>
    <div class="mt-10 mb-5 text-slate-100 text-center">
        <p class="text-xl">Your current active subscription package</p>
    </div>
    <div class="mx-auto px-8">
        <table class="text-sm text-left rtl:text-right text-white max-w-screen-lg mx-auto table-auto">
            <thead class="text-xs text-[#242831] uppercase bg-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Package type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Screen resolution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Supported device(s)
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Start date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        End date
                    </th>
                </tr>
            </thead>
            <tbody id="subscriptionBody" class="bg-[#242831]">
            </tbody>
        </table>
    </div>
    <div class="mt-10 mb-5 text-slate-100 text-center">
        <p class="text-xl">Choose other subscription packages</p>
    </div>
    <div class="mx-auto px-8">
        {% comment %} Jika tidak eligible masukkan paragraph merah mengapa tidak eligible {% endcomment %}
        <p class="text-red-500 text-center pb-4" id="not-eligible-msg">
        </p>
        <table class="text-sm text-left rtl:text-right text-white max-w-screen-lg mx-auto table-auto">
            <thead class="text-xs text-[#242831] uppercase bg-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Package type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Screen resolution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Supported device(s)
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Purchase
                    </th>
                </tr>
            </thead>
            <tbody id="allSubscriptionPackagesBody" class="bg-[#242831]">
            </tbody>
        </table>
    </div>
    <div class="mt-10 mb-5 text-slate-100 text-center">
        <p class="text-xl">Your subscription transaction history</p>
    </div>
    <div class="mx-auto px-8 pb-8">
        <table class="w-full text-sm text-left rtl:text-right text-white mx-auto max-w-screen-lg table-auto">
            <thead class="text-xs text-[#242831] uppercase bg-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Package type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Start date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        End date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Payment method
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Payment date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total expense
                    </th>
                </tr>
            </thead>
            <tbody id="allTransactionHistoryBody" class="bg-[#242831]">
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    async function fetchSubscriptionData() {
        return fetch("{% url 'subscription:get_active_subscription' %}").then((res) => res.json())
    }

    async function fetchAllSubscriptionPackages() {
        return fetch("{% url 'subscription:get_all_subscription_details' %}").then((res) => res.json())
    }

    async function fetchAllTransactionHistory() {
        return fetch("{% url 'subscription:get_transaction_history' %}").then((res) => res.json())
    }

    async function fetchSubscriptionEligibility() {
        return fetch("{% url 'subscription:get_subscription_eligibilty' %}").then((res) => res.json())
    }

    async function refreshSubscriptionData() {
        try {
            const data = await fetchSubscriptionData() ;

            if (data.status === 'success') {
                const subscription = data.data.active_subscription;
                const subscriptionBody = document.getElementById('subscriptionBody');

                if (Object.keys(subscription).length === 0) {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">-</th>
                        <td class="px-6 py-4">-</td>
                        <td class="px-6 py-4">-</td>
                        <td class="px-6 py-4">-</td>
                        <td class="px-6 py-4">-</td>
                        <td class="px-6 py-4">-</td>
                    `;
                    subscriptionBody.innerHTML = '';
                    subscriptionBody.appendChild(row);
                } else {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">${subscription.nama_paket}</th>
                        <td class="px-6 py-4">${subscription.harga}</td>
                        <td class="px-6 py-4">${subscription.resolusi_layar}</td>
                        <td class="px-6 py-4">${subscription.dukungan_perangkat}</td>
                        <td class="px-6 py-4">${subscription.start_date_time}</td>
                        <td class="px-6 py-4">${subscription.end_date_time}</td>
                    `;
                    subscriptionBody.innerHTML = '';
                    subscriptionBody.appendChild(row);
                }
            } else {
                console.error(data.message);
            }
        } catch (error) {
            console.error(error);
        }
    }

    async function refreshAllSubscriptionPackages() {
        try {
            const data = await fetchAllSubscriptionPackages();
            const subscriptionEligibility = await fetchSubscriptionEligibility();

            if (data.status === 'success') {
                const packages = data.data.packages;
                const allSubscriptionPackagesBody = document.getElementById('allSubscriptionPackagesBody');

                allSubscriptionPackagesBody.innerHTML = '';

                if (subscriptionEligibility.status === 'error' && subscriptionEligibility.data.is_eligible === false) {
                    const notEligibleMsg = document.getElementById('not-eligible-msg');
                    notEligibleMsg.style.display = 'block';
                    notEligibleMsg.innerHTML = subscriptionEligibility.message;
                }

                packages.forEach((package) => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">${package.nama}</th>
                        <td class="px-6 py-4">${package.harga}</td>
                        <td class="px-6 py-4">${package.resolusi_layar}</td>
                        <td class="px-6 py-4">${package.dukungan_perangkat}</td>
                        <td class="px-6 py-4">
                        <!-- Jika belum eligible, disable button -->
                        ${subscriptionEligibility.status === 'error' ? `
                            <button class="mt-5 w-full rounded-md font-bold text-gray-600 border border-gray-600 px-4 py-2 duration-200" disabled>
                                Purchase
                            </button>
                        ` : `
                            <button class="mt-5 w-full rounded-md font-bold border px-4 py-2 duration-200 text-white border-white hover:bg-white hover:text-[#242831]" 
                                onclick="redirectToSubscriptionPurchase('${package.nama}')">
                                Purchase
                            </button>`}
                        </td>
                    `;
                    allSubscriptionPackagesBody.appendChild(row);
                });
            } else {
                console.error(data.message);
            }
        } catch (error) {
            console.error(error);
        }
    }

    async function refreshAllTransactionHistory() {
        try {
            const data = await fetchAllTransactionHistory();

            if (data.status === 'success') {
                const transactionHistory = data.data.transactions;
                const allTransactionHistoryBody = document.getElementById('allTransactionHistoryBody');

                allTransactionHistoryBody.innerHTML = '';

                if (Object.keys(transactionHistory).length === 0){
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">-</th>
                        <td class="px-6 py-4">-</td>
                        <td class="px-6 py-4">-</td>
                        <td class="px-6 py-4">-</td>
                        <td class="px-6 py-4">-</td>
                        <td class="px-6 py-4">-</td>
                    `;
                    allTransactionHistoryBody.innerHTML = '';
                    allTransactionHistoryBody.appendChild(row);
                } else {
                    transactionHistory.forEach((transaction) => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">${transaction.nama_paket}</th>
                            <td class="px-6 py-4">${transaction.start_date_time}</td>
                            <td class="px-6 py-4">${transaction.end_date_time}</td>
                            <td class="px-6 py-4">${transaction.metode_pembayaran}</td>
                            <td class="px-6 py-4">${transaction.timestamp_pembayaran}</td>
                            <td class="px-6 py-4">${transaction.harga}</td>
                        `;
                        allTransactionHistoryBody.appendChild(row);
                    });
                }
            } else {
                console.error(data.message);
            }
        } catch (error) {
            console.error(error);
        }
    }

    async function redirectToSubscriptionPurchase(packageName) {
        window.location.href = `/subscription/subscribe/${packageName}`
    }

    refreshSubscriptionData();
    refreshAllSubscriptionPackages();
    refreshAllTransactionHistory();
</script>
{% endblock script %}
