{% extends 'base.html' %}

{% block content %}
<div class="mx-auto h-[calc(100vh-80px)] bg-[#242831] font-inter_tight">
    <div class="mb-12 text-slate-100 text-center">
        <h1 class="pt-16 pb-4 font-bold text-5xl drop-shadow-md">Manage your <span class="bg-gradient-to-r from-blue-500 to-red-500 text-transparent bg-clip-text">PacilFlix</span> subscription</h1>
        <p class="text-xl">The escape to the cinemas, on the palm of your hands.</p>
    </div>
    <div class="mx-auto max-w-sm">
    </div>
</div>
{% endblock content %}