{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://cdn.tailwindcss.com"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<style type="text/tailwindcss">
    @layer utilities {
        .nav-btn:hover:after{
            width:100%
        }
    }
</style>
<script>
    tailwind.config = {
        theme: {
            extend: {
                fontFamily: {
                    inter_tight: ["Inter Tight", "sans-serif"],
                }
            }
        }
    }
</script>
