<nav class="{% if is_authenticated %}sticky top-0 z-10{% endif %} bg-[#333845] font-inter_tight">
    <div class="flex items-center justify-between px-8">
        <div class="flex items-center">
            <div class="py-6 mr-4">
                <a href="/" class="inline font-bold text-2xl text-white"><span class="bg-gradient-to-r from-blue-500 to-red-500 text-transparent bg-clip-text">PacilFlix</span> - E4</a>
            </div>
            <div class="flex font-semibold items-center text-white gap-12 pl-14">
                {% if not is_logged_in %}
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="/">Trailers</a>
                {% endif %}
                {% if is_logged_in %}
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="#">Shows</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="{% url 'contributors:render_contributors' %}">Contributors</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="#">Favorites</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="#">Downloads</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="{% url 'subscription:render_subscription_manager' %}">Subscription</a>
                {% endif %}
            </div>
        </div>
        {% if is_logged_in %}
        <div class="flex">
            <p class="font-medium text-white">{{username}}</p>
            <a href="/auth/logout" class="text-white hover:text-red-500 duration-100 pl-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <title id="title">Logout</title>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>                  
            </a>
        </div>
        {% endif %}
    </div>
</nav>
