{% extends 'base.html' %}

{% block content %}
<div class="mx-auto h-[calc(100vh-72px)] bg-[#242831] font-inter_tight">
    <div class="mb-12 text-slate-100 text-center">
        <h1 class="pt-16 pb-4 font-bold text-8xl drop-shadow-md"><span class="bg-gradient-to-r from-blue-500 to-red-500 text-transparent bg-clip-text">PacilFlix</span> - E4</h1>
        <p class="text-xl">The escape to the cinemas, on the palm of your hands.</p>
    </div>
    <div class="mx-auto flex flex-col gap-4 text-center w-72">
        <a href="/auth/login">
            <button class="w-full rounded-full font-bold text-white border px-12 py-4 hover:bg-white hover:text-[#242831] duration-300 hover:scale-105">LOGIN</button>
        </a>
        <a href="/auth/register">
            <button class="w-full rounded-full font-bold bg-white text-[#242831] px-12 py-4 hover:scale-105 duration-300">CREATE AN ACCOUNT</button>
        </a>
    </div>

</div>
{% endblock content %}
